@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  word-break: auto-phrase;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gradient-to-br from-dark-bg to-gray-900 text-dark-text;
}

h1,
h2 {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-brand-primary to-brand-secondary;
}
